<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.beliefs.any? %>
      <h3>Beliefs (<%= @user.beliefs.count %>)</h3>
      <ol class="beliefs">
        <%= render @beliefs %>
      </ol>
      <%= will_paginate @beliefs %>
    <% end %>
  </div>
</div>